body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111111;
    color: white;
}


/* BARRA SUPERIOR */

.barra-topo {
    background-color: white;
    color: black;
    text-align: center;
    padding: 10px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
}


/* HEADER */

header {
    background-color: black;
    padding: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-bottom: 1px solid #222;
}


header img {
    width: 150px;
    border-radius: 50%;
    transition: 0.3s;
}


header img:hover {
    transform: scale(1.05);

    box-shadow:
        0px 0px 25px rgba(255,255,255,0.15);
}


header input {
    margin-top: 20px;

    width: 300px;

    padding: 14px;

    border-radius: 30px;

    border: 1px solid #333;

    background-color: #1c1c1c;

    color: white;

    outline: none;
}


/* MENU */

.menu {
    background-color: #0d0d0d;

    display: flex;

    justify-content: center;

    gap: 40px;

    padding: 18px;

    border-bottom: 1px solid #222;
}


.menu a {
    color: white;

    text-decoration: none;

    font-size: 13px;

    letter-spacing: 1px;

    transition: 0.3s;
}


.menu a:hover {
    color: #bfbfbf;
}


/* HERO */

.hero {
    height: 600px;

    background-image:
        url("../Imagens/banner.png");

    background-size: cover;

    background-position: center;

    display: flex;

    align-items: center;

    padding-left: 80px;
}


.hero-texto h1 {
    font-size: 60px;

    margin-bottom: 20px;
}


.hero-texto p {
    font-size: 18px;

    color: #d1d1d1;

    margin-bottom: 30px;
}


/* BOTÃO */

.botao-hero {
    background-color: white;

    color: black;

    padding: 15px 30px;

    text-decoration: none;

    border-radius: 6px;

    font-weight: bold;

    transition: 0.3s;
}


.botao-hero:hover {
    background-color: #d9d9d9;
}


/* SOBRE */

.sobre {
    text-align: center;

    padding: 80px 20px;
}


.sobre h2 {
    margin-bottom: 20px;

    font-size: 35px;
}


.sobre p {
    max-width: 700px;

    margin: auto;

    color: #cfcfcf;

    line-height: 28px;
}


/* DIFERENCIAIS */

.diferenciais {
    display: flex;

    justify-content: center;

    flex-wrap: wrap;

    gap: 30px;

    padding: 40px;
}


.card-diferencial {
    background-color: #1a1a1a;

    width: 280px;

    padding: 30px;

    border-radius: 12px;

    border: 1px solid #2b2b2b;

    transition: 0.3s;
}


.card-diferencial:hover {
    transform: translateY(-5px);

    border-color: #555;
}


.card-diferencial p {
    color: #bdbdbd;
}


/* RODAPÉ */

footer {
    background-color: black;

    text-align: center;

    padding: 30px;

    margin-top: 50px;

    border-top: 1px solid #222;
}


footer p {
    color: #999;
}